*.o
*.swp
.deps/
.dirstamp
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/stamp-h1

/bin/
/conf/bumblebee.conf
/scripts/systemd/bumblebeed.service
/scripts/sysvinit/bumblebeed
/scripts/upstart/bumblebeed.conf
/scripts/bumblebee-bugreport
/doc/optirun.1
/doc/bumblebeed.1
