*.o
*.swp
.deps/
.dirstamp
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/stamp-h1

/src/dbus/dbus-bumblebeed.h
/src/dbus/dbus-bumblebeed.c

/bin/
/conf/bumblebee.conf
/conf/dbus/bumblebeed.conf
/scripts/systemd/bumblebeed.service
/scripts/sysvinit/bumblebeed
/scripts/upstart/bumblebeed.conf
/scripts/bumblebee-bugreport
/optirun.1
/bumblebeed.1
