# Put this file in /lib/udev/rules.d or /etc/udev/rules.d
# Prevent the nvidia card from "randomly" turning on
DEVPATH=="/module/nvidia", ACTION=="remove", RUN+="/bin/rm -f /dev/nvidiactl /dev/nvidia0 /dev/nvidia1"
